@import "tailwindcss";

@theme {
    --animate-float: float 3s ease-in-out infinite;
    --animate-float-slow: floatSlow 4s ease-in-out infinite;

    @keyframes float {

        0%,
        100% {
            transform: translateY(0px);
        }

        50% {
            transform: translateY(-12px);
        }
    }

    @keyframes floatSlow {

        0%,
        100% {
            transform: translateY(0px);
        }

        50% {
            transform: translateY(12px);
        }
    }
}

html {
    scroll-behavior: smooth;
}